
.main__login{
    max-width: 1300px;
    width: 100%;
    padding: 50px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor__login{

    border-radius: 20px;
    width: 800px;
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 0px 0px 13px 11px rgba(0,0,0,0.1); 
}

form{
    height: 500px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 20px 20px 0;
}

input{
    position: relative;
    border: none;
    outline: none;
    width: 80%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background: #e2e2e2;
}
form button{
    padding: 10px;
    margin-top:10px;
    width: 80%;
    border-radius: 10px;
    border: none;
    background: #00B398;
    cursor: pointer;
    color: white;
}
.form__links{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
}
.form__links a{
    color: #575757;
    font-size: 12px;
}
.contenedor__login__item{
    width: 90%;
}
.contenedor__login__item img{
   width: 100%;
   height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}
@media (max-width:900px){
   
     .contenedor__login__item{
        display: none;
    }
    form{
        margin: auto;
        width: 100%;
        border-radius: 20px;
    } 
}